[submodule "bar-event-sourcing"]
	path = bar-event-sourcing
	url = https://github.com/dnikolovv/bar-event-sourcing.git
[submodule "init-app"]
	path = init-app
	url = https://github.com/picanteverde/init.git
[submodule "microservices-prototype"]
	path = microservices-prototype
	url = https://github.com/aramkoukia/microservices-prototype.git
